@import "./../../commons/style.scss";

.recent-products {
  margin: 0 auto 30px !important;
  max-width: 1920px;
  user-select: none;
  .module-header {
    border: none;
    background: #ebebeb;
    padding: 10px 15px;
    .module-title {
      font-weight: 700;
      color: $commonColor1;
    }
  }
  .module-content {
    width: 100%;
    padding: 10px 0px;
    margin: 0px 5px;
    &-box {
      width: 100%;
      flex-wrap: wrap;
    }
    .bs-btn {
      position: absolute;
      top: 40%;
      cursor: pointer;
      z-index: 10;
    }
    .pre {
      left: -30px;
    }
    .next {
      right: -30px;
    }
  }
}
