@import "./../../commons/style.scss";
.nav-mb {
  // display: none;
  width: 0;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  background: transparent;
  z-index: 0;
  color: rgba(0, 0, 0, 0.75);
  @include transition((background-color 0s ease 1s));
  &-overlay {
    position: relative;
    width: 80%;
    height: 100%;
    min-width: 140px;
    max-width: 440px;
    background: #f3f3f3;
    border-color: rgba(0, 0, 0, 0.1);
    .nav-tab {
      padding-bottom: 40px;
      border-bottom: 2px solid $pColor;
      display: flex;

      &-item {
        padding: 10px;
        width: 50%;
        text-align: center;
        font-size: 15px;
        background: #f8f8f8;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        &:not(:last-child) {
          border-right: 1px solid rgba(0, 0, 0, 0.1);
        }
        &.active {
          font-weight: 700;
          background: #f3f3f3;
          color: $pColor;
          border-bottom-style: none;
        }
      }
    }
    .nav-mb__panel {
      .tab-content {
        &:nth-child(1) {
          display: block;
        }
        &:nth-child(2) {
          display: none;
        }
        .mm-listview {
          display: flex;
          flex-wrap: wrap;
          .mm-listitem {
            cursor: pointer;
            position: relative;
            width: 100%;
            padding: 10px 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:hover .action-change-pwd {
              opacity: 1;
              @include transform(translateX(0px));
            }
            .action-change-pwd {
              opacity: 0;
              position: absolute;
              top: 100%;
              left: 0;
              @include transform(translateX(-40px));
              @include transition(all ease 0.3s);
            }
            a {
              width: 100%;
              display: block;
              font-size: 14px;
              color: $commonColor1;
              // display: flex;
              .has-submenu {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px 20px;
                background: $commonColor1;
                i {
                  color: rgba(255, 255, 255, 0.7);
                }
              }
            }
          }
        }
        #sub-tfm-clothing,
        #sub-tfm-sneaker {
          position: absolute;
          top: 0;
          right: 0;
          width: 0%;
          z-index: 0;
          overflow: hidden;
          background: #f3f3f3;
          @include transition(all 0.3s ease);
        }
        #sub-tfm-clothing {
          padding-bottom: 100px;
        }
        #sub-tfm-sneaker {
          top: calc(-100% - 1px);
        }
        #sub-tfm-clothing.active,
        #sub-tfm-sneaker.active {
          width: 100%;
          z-index: 150;
        }
      }
    }
    .close-modal {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background: rgb(0, 0, 0);
      @include transform(translateX(100%));
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      i {
        color: #fff;
      }
    }
  }
  &#nav-mobile.active {
    // display: block;
    left: -80%;
    width: 100%;
    background: rgba(179, 179, 179, 0.4);
    z-index: 120;
  }
}
.header {
  &__top {
    padding: 5px 15px;
    border-bottom: $commonColor2 1px solid;
    &__content {
      .header__right__info {
        justify-content: flex-end;
      }
      .header__top__left,
      .header__top__right {
        ul {
          li {
            font-size: 13px;
            &:not(:last-child) {
              padding-right: 10px;
              margin-right: 10px;
              border-right: #ebebeb 1px solid;
            }
            span {
              font-weight: 700;
              color: $pColor;
              &:hover {
                color: $sColor;
                cursor: pointer;
              }
            }
          }
        }
      }
      .header__top__right {
        margin-right: 10px;
        .ico-acc {
          @include transition(all ease 0.3s);
          margin: 0px 10px;
        }
        ul {
          li {
            a {
              color: $pColor;
              &:hover {
                color: $sColor;
              }
            }
          }
        }
        &:hover .ico-acc {
          @include transform(rotate(30deg));
        }
      }
      .panel-cart {
        margin-left: 10px;
        cursor: pointer;
        .cart-contain {
          position: relative;
          width: 50px;
          .cart-img {
            position: relative;
            width: 22px;
            height: 22px;
            .icon-cart {
              @include transition(transform ease 0.3s);
            }
            &:hover .cart-mini {
              display: block;
            }
            .cart-mini {
              display: none;
              position: absolute;
              top: 25px;
              right: 0;
              background: #fff;
              padding: 0;
              text-align: left;
              box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
              z-index: 10000;
              &__content {
                padding: 0;
                margin: 0;
                max-height: 625px;
                min-width: 350px;
                overflow: hidden;
                .cart-count__info {
                  padding: 10px 15px;
                  background-color: #dff0d8;
                }
                .cart-mini-list {
                  max-height: 290px;
                  overflow-y: auto;
                  &-item {
                    padding: 15px 5px 15px 15px;
                    border-top: 1px solid $commonColor2;
                    display: flex;
                    &:first-child {
                      border-top: none;
                    }
                    .product-img {
                      display: block;
                      width: 100px;
                      margin-right: 10px;
                      text-align: center;
                    }
                    .product-info-detail {
                      position: relative;
                      width: calc(100% - 100px);
                      .product-name {
                        a {
                          color: $commonColor1;
                          &:hover {
                            color: $sColor;
                          }
                        }
                      }
                      .product-price-box {
                        display: flex;
                        justify-content: space-between;
                        .product-price {
                          color: $pColor;
                        }
                      }
                    }
                    .btn-remove-item-product {
                      position: absolute;
                      right: 0;
                      top: 12px;
                      outline: none;
                      border: none;
                      background: transparent;
                      color: $pColor;
                      cursor: pointer;
                    }
                  }
                }
                .cart-count__total {
                  padding: 12px 15px;
                  background: $commonColor2;
                  font-size: 16px;
                  font-weight: 400;
                  justify-content: space-between;
                  .price {
                    color: $tColor;
                    font-weight: 700;
                  }
                }
                .cart-count__redirect {
                  padding: 0 15px 20px;
                  background: $commonColor2;
                  &-item {
                    width: 50%;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 1em;
                    border: $tColor 1px solid;
                    color: $tColor;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    white-space: nowrap;
                    outline: none !important;
                    cursor: pointer;
                  }
                }
              }
            }
          }
          .cart-count {
            position: absolute;
            top: 0;
            right: 0;
            background: $pColor;
            color: #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            line-height: normal;
            font-size: 9px;
          }
        }
        &:hover .cart-img .icon-cart {
          @include transform(rotate(30deg));
        }
      }
    }
  }
  &__main {
    &__content {
      position: relative;
      .menu-bar {
        display: none;
        z-index: 100;
        position: absolute;
        top: -14%;
        left: 6%;
        width: 32px;
        height: 18px;
        .menu-bar__content {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 100%;
          .icon-ham {
            transform: translateY(-50%);
            position: absolute;
            top: 0;
            right: 0;
            height: 4px;
            width: 100%;
            background-color: $pColor;
            border-radius: 4px;
            @include transition(all ease 0.3s);
            &:nth-child(2) {
              top: 8px;
            }
            &:nth-child(3) {
              top: 16px;
            }
          }
        }
        &#menu-ham.active .menu-bar__content .icon-ham:nth-child(1) {
          opacity: 0;
          right: -100px;
          top: -100px;
          -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
        }
        &#menu-ham.active .menu-bar__content .icon-ham:nth-child(2) {
          top: 8px;
          -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
        &#menu-ham.active .menu-bar__content .icon-ham:nth-child(3) {
          top: 8px;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
      .logo,
      .search-bar {
        position: absolute;
        height: 100px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .search-bar {
        margin-left: 81%;
        &-contain {
          position: relative;
          .input-control {
            position: relative;
            box-shadow: none;
            margin: 0;
            padding: 12px;
            border: none;
            outline: none;
            font-size: 14px;
            background: $commonColor2;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            color: $commonColor1;
            opacity: 0.7;
            &::placeholder {
              color: $commonColor1;
              font-style: italic;
              font-size: 14px;
              opacity: 0.7;
            }
          }

          .btn-input {
            padding: 0px 20px;
            height: 100%;
            color: #fff;
            background: $pColor;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            border: none;
            outline: none;
            -webkit-border-radius: 0 20px 20px 0;
            border-radius: 0 20px 20px 0;
            @include transition(background 0.3s);
            i {
              @include transition(transform ease 0.3s);
              @include transform(rotate(0));
            }
            &:hover {
              background: $sColor;
            }
            &:hover i {
              @include transform(rotate(90deg));
            }
          }
        }
      }
      .menu-pc {
        padding: 10px 0 0;
        position: relative;
        height: 100px;

        nav {
          background: transparent;
          width: 100%;
          .nav {
            padding: 0 17%;
            .nav-item {
              padding: 30px 0;

              &:hover .mega-content {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
              }

              .nav-link {
                font-size: 14px;
                line-height: 1.45;
                color: $commonColor1;
                background-color: transparent !important;
                font-weight: 700;
                padding: 10px 20px;
                position: relative;
                text-transform: uppercase;
                height: 40px;
                @include transition(color ease 0.5s);

                &:hover {
                  color: $pColor;
                }

                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  height: 4px;
                  width: 0%;
                  background-color: $sColor;
                  @include transition(width ease 0.3s);
                }
                &::before {
                  top: 100%;
                  left: 20px;
                }
                &::after {
                  top: 0;
                  right: 20px;
                }
                &:hover:before,
                &:hover:after {
                  width: 55%;
                }
              }
              .mega-content {
                position: absolute;
                left: 15px;
                top: 100%;
                width: calc(100% - 30px);
                z-index: 10000;
                background-color: #fff;
                @include transition(all ease 0.3s);
                @include transform(translateY(-30px));
                -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
                visibility: hidden;
                opacity: 0;
                border-top: 1px solid $commonColor2;
                border-radius: 5px;
                .mega-item {
                  padding: 12px 0;
                }
                .mega-item-title {
                  font-weight: 700;
                  .mega-item-url {
                    font-size: 14px;
                    color: $commonColor1;
                    &:hover {
                      color: $sColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Reposinve

@media only screen and (max-width: 1199px) {
  .header {
    &__main {
      &__content {
        display: flex;
        flex-wrap: wrap;
        .logo,
        .search-bar {
          width: 50%;
          position: relative;
        }
        .search-bar {
          justify-content: flex-start;
          margin-left: 0px;
          &-contain {
            // width: 100%;
            .input-control {
              padding: 14px 75px 14px 30px;
            }
            .btn-input {
              padding: 0px 25px;
            }
          }
        }
        .menu-pc {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    &__top {
      padding: 10px 15px;
      &__content {
        flex-wrap: wrap;
        position: relative;
        & > div.header__left__info {
          width: 100%;
          .header__top__left {
            display: flex;
            justify-content: center;
          }
        }
        .header__top__right {
          display: none;
        }
        .panel-cart {
          position: absolute;
          top: -3px;
          right: 35px;
        }
      }
    }
    &__main {
      &__content {
        display: flex;
        flex-wrap: wrap;
        .logo,
        .search-bar {
          width: 100%;
          position: relative;
        }
        .search-bar {
          margin-left: 0;
          padding: 20px;
          &-contain {
            width: 100%;
            .input-control {
              width: 100%;
              padding: 14px 55px 14px 30px;
            }
          }
        }
        .menu-pc {
          display: none;
        }
        .menu-bar {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    &__top {
      padding: 0;
      border: none;
      &__content > div.header__left__info {
        display: none;
      }
      .panel-cart {
        top: 10px;
        right: 5px;
        z-index: 100;
        .cart-contain {
          position: relative;
          width: 50px;
          .cart-img {
            width: 32px;
            height: 32px;
          }
          .cart-count {
            position: relative;
            top: 5px;
            left: 8px;
          }
        }
      }
    }
    &__main {
      &__content {
        // display: flex;
        // flex-wrap: wrap;
        .logo,
        .search-bar {
          width: 100%;
          position: relative;
        }
        .search-bar {
          // margin-left: 0;
          // padding: 20px;
          &-contain {
            // width: 100%;
            .input-control {
              // width: 100%;
              // padding: 14px 55px 14px 30px;
            }
          }
        }
        .menu-pc {
          // display: none;
        }
        .menu-bar {
          display: block;
          top: 20%;
          left: 7%;
        }
      }
    }
  }
}
