@import "./../../commons/style.scss";

.table-order {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  &-thead {
    text-align: left;
    th {
      background-color: $tColor;
      color: #fff;
      padding: 8px;
      border-bottom: 2px solid #ddd;
    }
  }
  & tr:nth-child(even) {
    background-color: #fff;
  }
  & tr:nth-child(odd) {
    background-color: $commonColor2;
  }

  tbody {
    tr {
      @include transition(all ease-out 0.2s);
      &:hover {
        box-shadow: 2px 4px 5px $sColor;
        @include transform(scale(1.05));
      }
      td {
        padding: 8px;
      }
    }
  }
}
